$color-primary-1: #99ffd6;
$color-primary-2: #00cc7a;
$color-primary-light-1: #e6fff5;

$color-secondary-1: #f2f2f2;
$color-secondary-2: #cccccc;
$color-secondary-3: #b3b3b3;
$color-secondary-4: #808080;
$color-secondary-5: #737373;
$color-secondary-6: #404040;

$color-white: #fff;
$color-black: #000;