.form-container {
    margin: 7.5rem 2rem 2rem;
    clear: both;
    }

.form {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 35rem;
    min-width: 22.5rem;
    padding: 5rem;
    background-color: $color-secondary-2;
    border-radius: 4.5rem;
    overflow: auto;

    &__input:first-child {
        margin-top: 1rem;
    }

    &__input:not(:first-child) {
        margin-top: 1.5rem;
    }

    &__input {
        font-family: inherit;
        line-height: 2rem;
        padding: 1rem 2rem;
        border-radius: 4.5rem;
        border: none;
        width: 100%;
        background-color: $color-secondary-1;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0rem .5rem 1rem rgba($color-black, 0.2rem);
        }

        &::placeholder {
            color: $color-secondary-4;
        }

    }

    &__label {
        display: block;
        color: $color-secondary-6;
        font-size: 1.3rem;
        font-family: inherit;
        margin-left: 2rem;
        transform: translateY(-6.5rem);
        transition: all .4s;
        clear: both;
        overflow: hidden;

        &--link-login-form {
            font-size: 1.3rem;
            display: block;
            width: 50%;
            text-align: left;
            float: left;
            margin-top: 3rem;

            &:last-child {
                float: right;
                text-align: right;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &--link-registration-form {
            font-size: 1.3rem;
            margin-top: 2rem;
            display: block;
            width: 100%;
            text-align: center;
            
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    &__input:placeholder-shown + &__label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-3rem);
    }

    &__button {
        display: block;
        text-align: center;
        font-family: inherit;
        margin: 2rem auto 0;
        line-height: 2rem;
        border-radius: 4.5rem;
        border: none;
        width: 90%;
        padding: 1rem 2rem;
        background-color: $color-secondary-5;
        color: $color-white;
        transition: all .3s;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $color-secondary-4;
            box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
            cursor: pointer;
        }
    }
}