@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: local('Noto Sans'), url('./fonts/NotoSans-Regular.eot');
    src: local('Noto Sans'), url('./fonts/NotoSans-Regular.eot#iefix') format('embedded-opentype'),
         local('Noto Sans'), url('./fonts/NotoSans-Regular.woff') format('woff'),
         local('Noto Sans'), url('./fonts/NotoSans-Regular.ttf') format('truetype'),
         local('Noto Sans'), url('./fonts/NotoSans-Regular.svg#Noto Sans') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-primary-light-1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
