@import './base-scss/abstracts/variables';

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), url('./fonts/Segoe UI.ttf') format('ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px;
}

body {
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-primary-light-1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
